<!DOCTYPE html>
<html lang="ko-KR">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>이메일 컴포넌트</title>
   <!-- 상대경로로 components.css 연결 -->
   <link rel="stylesheet" href="./../../styles/components.css">
</head>

<body>
   <div style="background-color: #000; padding: 30px;">
      <div role="none" class="input_email_container">
         <label for="user_email" class="user_email_label">이메일 주소</label>
         <span role="alert" class="user_email_invalid">정확한 이메일 주소를 입력하세요.</span>
         <div role="none" class="input_email_wrapper">
            <input type="email" class="user_email" id="user_email" data-val="focus">
            <button class="btn_arrow btn_arrow_normal_right" type="button">30일 무료 이용
               <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="Arrow (Stroke)" fill-rule="evenodd" clip-rule="evenodd"
                     d="M15.3431 0.928941L21.7071 7.2929C22.0976 7.68343 22.0976 8.31659 21.7071 8.70712L15.3431 15.0711C14.9526 15.4616 14.3195 15.4616 13.9289 15.0711C13.5384 14.6806 13.5384 14.0474 13.9289 13.6569L18.5858 9.00001H1C0.447715 9.00001 0 8.55229 0 8.00001C0 7.44772 0.447715 7.00001 1 7.00001H18.5858L13.9289 2.34315C13.5384 1.95263 13.5384 1.31947 13.9289 0.928941C14.3195 0.538416 14.9526 0.538416 15.3431 0.928941Z"
                     fill="white" />
               </svg>
            </button>
         </div>
      </div>
   </div>


   <script src="./index.js"></script>
</body>

</html>