/* 셀렉트 버튼 기본 스타일 */
.select_btn {
   cursor: pointer;
   pointer-events: auto;
   width: 113px;
   height: 40px;
   border-radius: 2px;
   border: 1px solid#757575;
   background-color: #000;
   color: #757575;
   position: relative;
}

.select_btn ul {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   list-style: none;
   margin-top: 0;
   margin-bottom: 0;
}

.global_icon {
   background-image: url('./../../images/global.svg');
   width: 16px;
   height: 16px;
}

.select_down_icon {
   background-image: url('./../../images/select_down.svg');
   width: 16px;
   height: 16px;
}

.check_icon {
   display: inline-block;
   width: 12px;
   height: 12px;
   margin-left: 10px;
   background-image: url('./../../images/check.svg');
   background-repeat: no-repeat;
}

.select_lang {
   width: 113px;
   height: 86px;
   color: #000;
   background-color: #E3E3E3;
   border-radius: 12px;
   opacity: 0.9;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: -0.008px;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   row-gap: 6px;
   position: absolute;
   top: 0;
   left: 0;
}

.lang {
   text-align: start;
}

.select_btn:focus,
.select_btn:hover {
   border: 3px solid #2EDE75;
   outline: 0;
}

.lang :first-child:hover,
.lang :last-child:hover {
   color: #2EDE75;
}

/* 공간은 차지하고 숨기기 */
.hide_hidden {
   visibility: hidden;
}

/* 공간 차지하지 않고 숨기기 */
.hide_none {
   display: none;
}