<!DOCTYPE html>
<html lang="ko-KR">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>셀렉트 컴포넌트</title>
   <!-- 상대경로로 components.css 연결 -->
   <link rel="stylesheet" href="./../../styles/components.css">
</head>

<body>

   <div class="select_container">
      <button class="select_btn" data-val="onOff">

         <span class="global_icon" data-val="onOff"></span>
         <span class="state_lang" data-val="onOff">한국어</span>
         <span class="select_down_icon" data-val="onOff"></span>

         <div class="select_lang hide_none">
            <div class="check_icon_wrapper">
               <span class="check_icon ko"></span>
               <span class="check_icon en hide_hidden"></span>
            </div>

            <div class="lang">
               <span class="lang_ko">한국어</span>
               <span class="lang_en">English</span>
            </div>
         </div>

      </button>
   </div>

   <script src="./index.js"></script>
</body>

</html>